body {
  /*background-color: blue;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  background-color: #efefef;
}

.button:hover {
  cursor: pointer;
}

p.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
  margin: 0;
  font-weight: 400;
}

p.tag-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
  margin: 0;
  font-weight: 500;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1vw;
}

.title-line {
  position: absolute;
  bottom: 0;
  left: 49.8%;
  height: 50%;
  border: 1px solid white;
}

#wraper {
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 0;
  text-align: left;
  position: absolute;
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: #efefef;
  border: 1px solid white;
  color: black;
  position: relative;
  text-align: center;
}

.box2 {
  text-align: center;
/*  font-family: 'IBM Plex Serif', serif;*/
  line-height: 3.8vh;
  text-transform: uppercase;
}
